
input.form-control.inline {
    display: inline-block;
    width: 200px;
}

.error {
    color: red;
}

.success {
    color: #008000;
}

div.centered {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;
}

div.spacer {
    height: 10px;
}
