
input.form-control.inline {
    display: inline-block;
    width: 200px;
}

.error {
    color: red;
}

.success {
    color: #008000;
}

div.centered {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;
}

div.spacer {
    height: 10px;
}

.navigation {
    background: linear-gradient(to right, #a90329 0%, #8f0222 44%, #6d0019 100%);
    color: white;
    font-size: 18px;
    padding: 10px
}

.navigation > div {
    display: inline-block;
    margin-top: 3px;
}

.navigation > .home {
    font-weight: bold;
}

.navigation input {
    display: inline-block;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
}

.items {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.items > li {
    border: 1px solid #999;
    -webkit-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -moz-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    display: inline-block;
    height: 100%;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 10px;
}

.items > form {
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #999;
    padding: 3px;
    position: relative;
    top: -1px;
    -webkit-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -moz-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
}

.items > form > div.form-group {
    margin-bottom: 0;
}

.items > li.selected {
    -webkit-box-shadow: #74A6FF 0 0 0 3px inset, #edddf5 2px 3px 0;
    -moz-box-shadow: #74A6FF 0 0 0 3px inset, #edddf5 2px 3px 0;
    box-shadow: #74A6FF 0 0 0 3px inset, #edddf5 2px 3px 0;
}

.classroom table {
    margin: 10px;
}

.classroom table td {
    border: 1px solid #999;
    -webkit-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -moz-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    padding: 10px;
    font-weight: normal;
    width: 100px;
    white-space: nowrap;
}

.classroom td.form-container {
    padding: 3px;
}

.add-student {
    cursor: pointer;
    padding: 7px;
}

.clickable {
    cursor: pointer;
}

#addAssignmentForm input {
    margin-bottom: 3px;
}

input.input-cell {
    display: inline;
    width: 100%;
    border: none;
    outline: none;
    height: 22px;
}

.classroom input.name {
    width: 110px;
}

.classroom input.category {
    width: 110px;
}

.classroom input.due_date {
    width: 160px;
}

.classroom input.points {
    width: 100px;
}

.classroom h4 {
    padding-left: 10px;
}