<div class="navigation">
  <div class="pull-right">{{ user.name }}</div>
  <div class="pull-left">⨸ GradeMaker Pro</div>
  <input class="form-control" type="search" ng-model="q" placeholder="Search"/>
</div>

<div class="loading" ng-hide="classroomsLoaded">Loading...</div>

<ul class="items" ng-show="classroomsLoaded">
  <li ng-repeat="_classroom in classrooms"
      class="{{ selectedIf(_classroom.id == classroom.id) }}"
      ng-click="displayClassroom(_classroom)">
    {{ _classroom.name }}
  </li>
  <li ng-hide="createClassroom.show" ng-click="createClassroom.show = true">
    + Add Classroom
  </li>
  <form ng-show="createClassroom.show" ng-submit="createClassroom.create()" class="form-inline" role="form">
    <div class="form-group">
      <input ng-model="createClassroom.name" class="form-control">
      <input type="submit" ng-disabled="createClassroom.inProgress" class="btn btn-primary" value="Create">
      <button type="reset" ng-click="createClassroom.cancel()" class="btn btn-warning">Cancel</button>
      <span class="error">{{ createClassroom.error }}</span>
    </div>
  </form>
</ul>

<div class="classroom" ng-show="classroom">

  <h4>Assignments</h4>

  <table>
    <tr>
      <td colspan="1">Assignments</td>
      <td colspan="2">
        <input class="form-control" type="search" ng-model="filter.students" placeholder="Filter Students"/>
      </td>
      <td ng-repeat="student in classroom.students | filter:filter.students | orderBy:'last_name'">
        {{ student.name }}
      </td>
      <td ng-hide="filter.students">
        <input type="text" ng-model="addStudent.name" class="form-control"
               ng-focus="addStudent.error=null"
               typeahead="name for name in addStudent.typeahead() | filter:$viewValue"
               style="width: 150px; display: inline-block;">
        <input type="submit" ng-disabled="addStudent.inProgress" ng-click="addStudent.submit()" value="+ Add Student"
               class="btn btn-default" style="display: inline-block; width: 120px; margin-top: -2px">
        <span class="error">{{ addStudent.error }}</span>
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>Due Date</td>
      <td>Total Points</td>
      <td ng-repeat="student in classroom.students | filter:filter.students | orderBy:'last_name'">
        {{ asPercent(gradeFor(classroom, student)) }}
      </td>
    </tr>
    <tr ng-repeat="assignment in classroom.assignments | orderBy: 'due_date'">
      <td>
        <input type="text" ng-model="assignment.category"
               typeahead="category for category in categories() | filter:$viewValue"
               ng-change="updateAssignment(assignment)" class="input-cell name">
      </td>
      <td>
        <input type="date" ng-model="assignment.due_date" ng-change="updateAssignment(assignment)" class="input-cell due_date">
      </td>
      <td>
        <input type="number" ng-model="assignment.points" ng-change="updateAssignment(assignment)" class="input-cell points">
      </td>
      <td ng-repeat="student in classroom.students | filter:filter.students | orderBy:'last_name'">
        <input type="text" ng-change="updateAssignment(assignment)" only-num ng-model=" assignment.grades[student.id] " class="input-cell">
      </td>
    </tr>
    <tr>
      <td>
        <input ng-model="addAssignment.category" ng-focus="addAssignment.error=null" type="text" class="input-cell name" placeholder="Homework"
          typeahead="category for category in categories() | filter:$viewValue">
      </td>
      <td>
        <input ng-model="addAssignment.dueDate" ng-focus="addAssignment.error=null" type="date" class="input-cell due-date" placeholder="Due Date">
      </td>
      <td>
        <input ng-model="addAssignment.points" ng-focus="addAssignment.error=null" type="number" class="input-cell points" placeholder="20">
      </td>
    </tr>
    <tr>
      <td colspan="3" style="white-space: normal">
        <button type="submit" ng-click="addAssignment.submit()" class="btn btn-default full-width pull-left">
          + Add Assignment
        </button>
        <div class="error">{{ addAssignment.error }}</div>
      </td>
    </tr>

  </table>

  <hr>
  <h4>Grade Weights</h4>
  <table>
    <tr>
      <td>Category</td>
      <td>Weight</td>
      <td>Percentage</td>
    </tr>
    <tr ng-repeat="category in keys(classroom.grade_weights) | orderBy:identity">
      <td>
        {{ category }}
      </td>
      <td>
        <input type="number" ng-model="classroom.grade_weights[category]" ng-change="updateClassroom()" class="form-control">
      </td>
      <td>
        {{ categoryWeightPercent(category) }}
      </td>
    </tr>
  </table>
</div>
