<div class="navigation">
  <div class="pull-right">{{ user.name }}</div>
  <div class="pull-left">⨸ GradeMaker Pro</div>
  <input class="form-control" type="search" ng-model="q" placeholder="Search"/>
</div>



<ul class="items">
  <li ng-click="show.classrooms=true" class="{{ selected('classrooms') }}">
    Classrooms
  </li>
  <li>Students</li>
  <li>Assignments</li>
  <li>Faculty</li>
</ul>

<ul ng-show="show.classrooms" class="items">
  <li ng-repeat="classroom in classrooms | filter:q">
    {{ classroom.name }}
  </li>
  <li ng-hide="show.createClassroom" ng-click="show.createClassroom = true">
    + Add Classroom
  </li>
  <form ng-show="show.createClassroom" ng-submit="createClassroom.create()" class="form-inline" role="form">
    <div class="form-group">
      <input ng-model="createClassroom.name" focus-me class="form-control">
      <input type="submit" ng-disabled="createClassroom.inProgress" class="btn btn-primary" value="Create">
      <span class="error">{{ createClassroom.error }}</span>
    </div>
  </form>
</ul>

